@{
    ViewData["Title"] = "Users Edit";
}
@model User
@using (Html.BeginForm())
{
    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.Id)

        <p>
            User Name <br />
            @Html.EditorFor(model => model.Name)
        </p>

        <p>
            User Surname <br />
            @Html.EditorFor(model => model.Surname)
        </p>

        <p>
            User Age  <br />
            @Html.EditorFor(model => model.Age)
        </p>
        <p>
            Role <br />
            @Html.DropDownListFor(model => model.RoleId, ViewBag.UserRoles as SelectList)
        </p>
        <p>            
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}


